<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="logback-base.xml"/>

    <springProfile name="dev,local">
        <logger name="org.jeongmo.migration.auth" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <logger name="org.springframework.web.reactive.function.client" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.jeongmo.migration.auth" level="INFO" additivity="false">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <logger name="org.jeongmo.migration.auth.infrastructure.adapter.out" level="WARN" additivity="false">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </root>
    </springProfile>


</configuration>