<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>

    <property name="DIR" value="${LOG_PATH:-./item-service/log}"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_JSON_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR}/${APPLICATION_NAME}.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <includeCallerData>false</includeCallerData>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DIR}/archived/${APPLICATION_NAME}-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <springProfile name="dev,local">
        <logger name="org.jeongmo.migration.item" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.jeongmo.migration.item" level="INFO" additivity="false">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE_JSON_APPENDER"/>
        </root>
    </springProfile>



</configuration>